import * as React from "react";
{{#component_list}}
export { default as XtifyIcon{{name}} } from "./{{name}}.tsx";
{{/component_list}}

export default function({name,...props}:{name:string}):React.JSX.Element {
	return <i className={`xtify-icon ${name}`} {...props}></i>
}
